// only tag selectors here
body {
  padding-top: 4rem;
  background: $bg-color;
  font-family: 'Roboto Condensed', sans-serif;

  @media (min-width: $lg) {
    padding-top: 4.625rem;
  }
}

a {
  color: $lightGreen;
  font-weight: 700;
  transition: color .15s $transition;

  &:active,
  &:focus,
  &:hover {
    color: lighten($lightGreen, 10%);
  }
}

video {

  @media (min-width: $sm) {
    margin-bottom: .5rem;
  }
}

select {
  min-height: 3.125rem;
}