.btn {
  width: 140px;
  height: 36px;
  padding: 0;
  border: 0;
  line-height: 36px;
  font-size: 18px;
  font-weight: 700;
  color: $white;
}

.custom-button {
  border: 0;
  border-radius: .25rem;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;

  text-align: center;
  text-decoration: none;
  text-transform: capitalize;


  &--primary {
    background-color: $lightGreen;
    color: white;
    font-size: 1.125rem;
    max-width: 21.375rem;
    padding: .75rem .25rem;
    width: 100%;

    &:active,
    &:focus,
    &:hover {
      background-color: lighten($lightGreen, 10%);
      color: white;
      text-decoration: none;
    }

    &:disabled {
      background-color: $lightGreen--disabled;
    }
  }
  
  &--hollow {
    background-color: transparent;
    color: $gray-900;
    font-size: 1.125rem;
    max-width: 21.375rem;
    padding: .75rem .25rem;
    width: 100%;
  }

  &--danger {
    background-color: $danger;
    color: white;
    font-size: 1.125rem;
    max-width: 21.375rem;
    padding: .75rem .25rem;
    width: 100%;
  }

  &--croppie {
    background-color: $gray-900;
    border-radius: .75rem;
    color: white;
    font-size: 1.25rem;
    height: 3.125rem;
    margin-bottom: 1.5625rem;
    margin-right: .75rem;
    transition: background-color $transition;
    width: 3.125rem;

    &:active,
    &:focus,
    &:hover {
      background-color: lighten($gray-900, 10%);
      color: white;
      text-decoration: none;
    }
  }
}

.btn-success {
  border: 0!important;
  background: $green;
  &:hover, &:active, &:focus {
    border: 0!important;
    background: lighten($green, 10%)!important;
  }
}

.btn-facebook-login {
    background-color: #3e66ad;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: normal;
    span {
        font-size: 14px;
    }

    &:hover, &:active, &:focus {
       color: #fff;
       background: lighten(#3e66ad, 10%)!important;
    }
}