.btn {
  width: 140px;
  height: 36px;
  padding: 0;
  border: 0;
  line-height: 36px;
  font-size: 18px;
  font-weight: 700;
  color: $white;
}

.custom-button {
  border: 0;
  border-radius: .25rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: bold;
  padding: .75rem .25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  transition: color $transition, background-color $transition;
  width: 100%;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }

  > i {
    font-size: 1.5625rem;
    left: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &:after {
      content: '';
      display: inline-block;
      height: 200%;
      position: absolute;
      right: -1rem;
      top: -50%;
      width: 1px;
    }
  }

  &--primary {
    background-color: $lightGreen;
    color: white;

    > i {

      &:after {
        background-color: darken($lightGreen, 8%);
      }
    }

    &:active,
    &:focus,
    &:hover {
      background-color: lighten($lightGreen, 10%);
      color: white;
    }

    &:disabled {
      background-color: $lightGreen--disabled;
    }
  }

  &--facebook {
    background-color: $facebook-color;
    color: white;

    > i {

      &:after {
        background-color: darken($facebook-color, 8%);
      }
    }

    &:active,
    &:focus,
    &:hover {
      background-color: lighten($facebook-color, 10%);
      color: white;
    }

    &:disabled {
      background-color: $lightGreen--disabled;
    }
  }

  &--hollow {
    background-color: transparent;
    color: $gray-900;
  }

  &--danger {
    background-color: $danger;
    color: white;
  }

  &--croppie {
    background-color: $gray-900;
    border-radius: .75rem;
    color: white;
    font-size: 1.25rem;
    height: 3.125rem;
    margin-bottom: 1.5625rem;
    margin-right: .75rem;
    width: 3.125rem;

    &:active,
    &:focus,
    &:hover {
      background-color: lighten($gray-900, 10%);
      color: white;
    }
  }

  &--used {
    background-color: $bg-color;
    color: $lightGreen;
  }

  &--alert {
    background-color: lighten($danger, 15%);
    color: white;

    &:active,
    &:focus,
    &:hover {
      background-color: lighten($danger, 25%);
      color: white;
    }
  }
}

.btn-success {
  border: 0 !important;
  background: $green;
  &:hover, &:active, &:focus {
    background: lighten($green, 10%) !important;
    border: 0 !important;
    box-shadow: none !important;
  }
}

.btn-facebook-login {
  background-color: #3e66ad;
  cursor: pointer;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: .875rem;
  font-weight: normal;
  height: 3.125rem !important;
  line-height: 3.125rem;
  margin-bottom: 1.25rem;
  width: 100%;

  span {
    font-size: 14px;
  }

  &:hover, &:active, &:focus {
    color: #fff;
    background: lighten(#3e66ad, 10%) !important;
  }
}