.login-register-forms {
  padding-bottom: 25px;

  .btn {
    width: 100%;
    height: 3.125rem !important;
    line-height: 3.125rem;
  }

  .btn-facebook-login {
    font-size: .875rem;
    margin-bottom: 1.25rem;
  }

  .small-text {
    margin-top: 1.25rem;
  }
}