.background--grey {
  padding-top: 32px;
  background: $offWhite;
}

.pagination {
  margin-bottom: 30px;
}

.hide-block {
  display: none;
}

.form-margin-top {
  margin-top: 20px;
}

.avatar {
  height: 2.8125rem;
  margin-right: .625rem;
  width: 2.8125rem;
}

// category label
//.card > a,
//.video-container {
//
//  &::before {
//    background-color: $lightBlue;
//    content: attr(data-category);
//    color: white;
//    font-weight: 600;
//    padding: .25rem .5rem;
//    position: absolute;
//    text-transform: uppercase;
//    top: 7%;
//    line-height: 1;
//    z-index: 1;
//  }
//}

.card > a::before {
  font-size: 1.125rem;
  left: 0;
}

.video-container::before {
  font-size: 1.7rem;
  left: 1rem;
}

// Owl Carousel for index page
.owl {

  &-carousel {
    margin-bottom: 1.875rem;
  }

  &-prev,
  &-next {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(black, 0.3), 0 0 4px rgba(black, 0.2);
    color: rgba($darkGrey, .4);
    cursor: pointer;
    height: 2.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5rem;
    z-index: 1;

    i {
      left: 50%;
      position: absolute;
      top: 50%;
    }
  }

  &-prev {
    left: -1.25rem;

    i {
      transform: translate(-60%, -50%);
    }
  }

  &-next {
    right: -1.25rem;

    i {
      transform: translate(-40%, -50%);
    }
  }
}