.background--grey {
  padding-top: 32px;
  background: $offWhite;
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.hide-block {
  display: none;
}

.form-margin-top {
  margin-top: 20px;
}

.avatar {
  height: 2.8125rem;
  margin-right: .625rem;
  width: 2.8125rem;
}