.background--grey {
  background: $offWhite;
}

.pagination {
  margin-bottom: 30px;
}

.hide-block {
  display: none;
}

.form-margin-top {
  margin-top: 20px;
}

.container {

  &--index {
    background-color: white;
    padding-top: .25rem;

    @media (min-width: $sm) {
      background-color: transparent;
    }
  }
}

.lead {
  margin-bottom: 1.5rem;
}

.avatar {
  height: 2.8125rem;
  margin-right: .625rem;
  width: 2.8125rem;
}

.playlist-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: .5em;
  padding: 1rem .5rem .5rem;

  &__link {
    color: $black;
    font-size: 1.25rem;
    transition: color $transition;

    &:active,
    &:focus,
    &:hover {
      color: $lightGreen;
      text-decoration: none;
    }
  }

  @media (min-width: $md) {

    &__link {
      font-size: 1.875rem;
      position: relative;

      &:after {
        background-color: $lightGreen;
        bottom: -.5rem;
        content: '';
        display: inline-block;
        height: .5rem;
        left: 0;
        position: absolute;
        width: 5rem;
      }
    }
  }
}

// category label
//.card > a,
//.video-container {
//
//  &::before {
//    background-color: $lightBlue;
//    content: attr(data-category);
//    color: white;
//    font-weight: 600;
//    padding: .25rem .5rem;
//    position: absolute;
//    text-transform: uppercase;
//    top: 7%;
//    line-height: 1;
//    z-index: 1;
//  }
//}

.card > a::before {
  font-size: 1.125rem;
  left: 0;
}

.video-container::before {
  font-size: 1.7rem;
  left: 1rem;
}

// Owl Carousel for index page
.owl {

  &-carousel {
    margin-bottom: 1.875rem;

    @media (min-width: $md) {
      margin-bottom: 3.5rem;
    }
  }

  &-prev,
  &-next {
    background-color: $lightGreen;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(black, 0.3), 0 0 4px rgba(black, 0.2);
    color: white;
    cursor: pointer;
    height: 2.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5rem;
    z-index: 1;

    i {
      left: 50%;
      position: absolute;
      top: 50%;
    }
  }

  &-prev {
    left: -1.25rem;

    i {
      transform: translate(-60%, -50%);
    }
  }

  &-next {
    right: -1.25rem;

    i {
      transform: translate(-40%, -50%);
    }
  }
}

#app {
  display: flex;
  flex-direction: column;
  min-height: calc( 100vh - 4rem );

  @media (min-width: $lg) {
    min-height: calc( 100vh - 4.625rem );
  }
}

.admin-menu {
  background-color: $lightGreen;
  border: 0;
  border-radius: .25rem;
  bottom: 1rem;
  box-shadow: 0 0 .375px 0 black;
  color: white;
  font-size: 1.4rem;
  height: 2.25rem;
  outline: none;
  position: fixed;
  right: 1rem;
  width: 2.25rem;
  z-index: 9;

  @media (min-width: $md) {
    display: none;
  }
}

.flex-grow-1 {
  flex-grow: 1;
}
