.my-video-title {
  margin: 20px;
}

.my-video.social-buttons > div {
  margin-bottom: 5px;
}

.video-view-alert {
  margin-top: 15px;
  display: none;
}

.video-container .your-own{
  margin-top: 10px;
  margin-bottom: 10px;
}