.navbar {
  border-bottom: 5px solid $green;
  background: white;
  padding: .6875rem 1.125rem;

  &-brand {
    text-transform: uppercase;
    font-size: 1.125rem;
    color: $darkGrey;
    font-weight: 700;
  }

  &-toggler {
    position: relative;
    width: 36px;
    height: 36px;
    background: $offWhite;

    &:before {
      content: "";
      position: absolute;
      top: 0.5em;
      left: .35em;
      width: 1em;
      height: 0.12em;
      background: $grey;
      box-shadow:
              0 0.25em 0 0 $grey,
              0 0.5em 0 0 $grey;
    }
  }

  @media (min-width: $lg) {
    padding: .4375rem 1.125rem;

    &-brand {
      font-size: 1.875rem;
    }
  }
}

.nav-link {
  font-weight: 400;
  color: $darkGrey;

  &:hover {
    color: $green;
  }
}

.menu-login-button {
  color: $green;
  margin-right: .625rem;
}

.dropdown-menu {
  min-width: 100%;
}