.navbar {
  border-bottom: 5px solid $green;
  background: white;
  padding: .6875rem 1.125rem;

  &-brand {
    text-transform: uppercase;
    font-size: 1.125rem;
    color: $darkGrey;
    font-weight: 700;
  }

  &-toggler {
    position: relative;
    width: 36px;
    height: 36px;
    background: $offWhite;

    &:before {
      content: "";
      position: absolute;
      top: 0.5em;
      left: .35em;
      width: 1em;
      height: 0.12em;
      background: $grey;
      box-shadow:
              0 0.25em 0 0 $grey,
              0 0.5em 0 0 $grey;
    }
  }

  @media (min-width: $lg) {
    padding: .4375rem 1.125rem;

    &-brand {
      font-size: 1.875rem;
    }
  }
}

.nav-link {
  font-weight: 400;
  color: $darkGrey;

  &:hover {
    color: $green;
  }
}

.menu-login-button {
  color: $green;
  margin-right: .625rem;
}

.dropdown-menu {
  background-color: $green;
  min-width: 100%;
  padding: 0;
}

.dropdown-item {
  color: white;
  font-size: .9375rem;
  padding: .875rem .5625rem .875rem 1rem;
  position: relative;
  transition: background-color $transition, color $transition;

  > i {
    margin-right: .75rem;
    text-align: center;
    width: 1.0625rem;
  }

  &:active,
  &focus,
  &:hover {
    background-color: rgba(0,0,0,.1);
    color: white;
  }
}