$white: #fff;
$lightGreen: #5dc09c;
$lightGreen--disabled: #9fd8c5;
$green: #59b3a6;
$black: #282929;
$offWhite: #f5f6f8;
$grey: #bac3cd;
$light-gray: #f5f5f5;
$gray-900: #aab7c4;
$dark-gray: #3e66ad;
$darkGrey: #4b5157;
$danger: #dc3545;

$bg-color: #f7fafb;
$paypal-bg-color: #eee;
$text-muted: #95989a;

// breakpoints
// 576px+
$sm: 36rem;
// 768px+
$md: 48rem;
// 992px+
$lg: 62rem;
// 1200px+
$xl: 75rem;

// others
$transition: .15s ease-in-out;

//
//// Body
//$body-bg: #f5f8fa;
//
//// Borders
//$laravel-border-color: darken($body-bg, 10%);
//$list-group-border: $laravel-border-color;
//$navbar-default-border: $laravel-border-color;
//$panel-default-border: $laravel-border-color;
//$panel-inner-border: $laravel-border-color;
//
//// Brands
//$brand-primary: #3097D1;
//$brand-info: #8eb4cb;
//$brand-success: #2ab27b;
//$brand-warning: #cbb956;
//$brand-danger: #bf5329;
//
//// Typography
//$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
//$font-family-sans-serif: "Raleway", sans-serif;
//$font-size-base: 14px;
//$line-height-base: 1.6;
//$text-color: #636b6f;
//
//// Navbar
//$navbar-default-bg: #fff;
//
//// Buttons
//$btn-default-color: $text-color;
//
//// Inputs
//$input-border: lighten($text-color, 40%);
//$input-border-focus: lighten($brand-primary, 25%);
//$input-color-placeholder: lighten($text-color, 30%);
//
//// Panels
//$panel-default-heading-bg: #fff;
