.video {
  padding-top: .375rem;

  &__description-container {
    display: flex;
    align-items: center;
    margin-bottom: .625rem;
  }

  &__title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
  }

  &__author {
    font-size: .75rem;
    margin-bottom: 0;
  }
}