.video {
  padding-bottom: 2.5rem;
  padding-top: 1.125rem;

  &-container {
    margin-bottom: 1rem;
  }

  &__description-container {
    display: flex;
    align-items: center;
    margin-bottom: 1.5625rem;
  }

  &__title {
    color: $black;
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 0;

    &:active,
    &:focus,
    &:hover {
      color: $black;
      text-decoration: none;
    }
  }

  &__author {
    font-size: .875rem;
    margin-bottom: 0;
  }

  @media (min-width: $md) {

    &__description-container {
      margin-bottom: 1.875rem;
    }
  }
}
//related videos
.related-videos {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-top: 10px;

  &__list {
    margin-top: 20px
  }
}

// croppie modal
.modal {
  padding: 4.9375rem .9375rem 0 !important;

  &-dialog {
    margin: 0 auto;
    max-width: 23rem;
    padding-bottom: 1.5625rem;
  }

  &-header {
    border-bottom: 0;
    color: white;
  }

  &-content {
    background-color: $black;
    border: 0;
    border-radius: 0;
  }

  &-body {
    padding: 0 .9375rem;
  }

  &-backdrop {
    background-color: $black;

    &.show {
      opacity: 1;
    }
  }

  &-footer {
    border-top: 0;
    flex-direction: column;
    padding-top: 0;

    > :not(:last-child) {
      margin-right: 0;
    }

    > :not(:first-child) {
      margin-left: 0;
    }
  }

  .close {
    color: inherit;
    cursor: pointer;
    margin: -.625rem -.625rem -.9375rem auto;
  }
}
